.more {
  border-width: 3px;
  border-radius: 50%;
  border-color: white;
  background-color: #9ca3af;
  min-width: 38px;
  width: 38px;
  height: 38px;
  margin-left: -0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
